@page "/"

<PageTitle>Quote</PageTitle>

<div class="quote-container">
    <blockquote>
        "Да пише или да списува човек на един език, трябва да го е учил доста време и да го познава много добре, ако и да е бащин му."
    </blockquote>
    <p class="author">— Д-р Иван Богоров</p>
</div>